{% extends "layout.twig" %}

{% block content %}

<div class="content">

<!-- HEADER !-->
{% include '/includes/header.twig' %}

<!-- GOOGLE COUPON !-->
<section class="google-coupon">
    <div class="toggler" id="toggler-slideOne">
        <span class="expandSlider">
        <div class="wrapper">
            <p class="hide-show-intro"><span class="pink">Clique aqui</span> por um <em>tempo limitado</em> compre o seu pacote <span class="mobHide">e tenha um desconto de <span class="pink">50%</span></p><span class="exit"></span></span>
            <span class="collapseSlider"></span>
        </div>
    </div>
    <div class="slider" id="slideOne">
        <div class="wrapper">
            <h2>Use o código ‘<span class="pink">GOOGLE50</span>’ para um desconte de 50%</h2>
            <p>Por um <em>tempo limitado</em> compre um pacote ‘<span class="pink">Basico</span>’ ou<br> ‘<span class="pink">Negócios</span>’ e tenha um desconto de 50% por 6 meses.<br>Simplesmente insira o código '<span class="pink lrg">GOOGLE50</span>' antes de processar o pagamento'.</p>
        </div>
        <div class="proud">
            <div class="wrapper">
                Orgulhoso de ser um parceiro do <span class="white">Google</span> como provedor de um <span class="white">sistema Multi-Dispositivo</span>
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="wrapper">
        <h2>Um editor de sites simples e poderoso</h2>
        <h3>Crie um site que fica ótimo em um tela grande, celulares e tablets.</h3>
        <div class="tabs">
            <input type="radio" name="tabs" checked id="tab1" class="content1">
                <label for="tab1" style='border-left: 0'>
                    <span>
                        <span>Clique &amp; Arraste</span>
                    </span>
                </label>
{#
            <input type="radio" name="tabs" id="tab2" class="content2">
                <label for="tab2">
                    <span>
                        <span>Domínios</span>
                    </span>
                </label>
            <input type="radio" name="tabs" id="tab3" class="content3">
                <label for="tab3">
                    <span>
                        <span>Modelos de site</span>
                    </span>
                </label>
#}
             <ul class="browser">
                <div class="controls"><span></span><span></span><span></span></div>
                <li class="content1">
                    <div>
                        <img class="magnify" src="{{asset('images/feature-magnify-1.png')}}">
                        <div class="call-out">
                            <h4>Clique &amp; Arraste</h4>
                            <p>Adicione textos, imagens, vídeos e todos os tipos de conteúdo para a sua página. Veja como o site fica no celular ou no tablet rápidamente.</p>
                        </div>    
                    </div>
                </li>
{#
                <li class="content2">
                    <div>
                        <img class="magnify" src="{{asset('images/feature-magnify-1.png')}}">
                        <div class="call-out">
                            <h4>Domínios</h4>
                            <p>O seu site irá funcionar com qualquer nome de domínio que você já tenha. Você também pode comprar um domínio com a gente ou escolher um pacote Negócios e ganhar o domínio grátis.</p>
                        </div> 
                    </div>
                 </li>
                <li class="content3">
                    <div>
                        <img class="magnify" src="{{asset('images/feature-magnify-1.png')}}">
                        <div class="call-out">
                            <h4>Modelos de site</h4>
                            <p>Apenas designs novos e modernos são bons o suficiente para a nossa biblioteca de modelos de site. Os nossos designers profissionais adicionam novos designs de modelos de site a cada 2 semanas. Altere o seu modelo de site a qualquer momento para dar ao seu site uma nova cara.</p>
                        </div> 
                    </div>
                </li>
#}
             </ul>
        </div>
    </div>
</section>

<!-- INTRO !-->
<section class="intro">
    <div class="wrapper">
        <div class="intro-blocks">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    <div class="line-block pad-top">
                        <h2>Um site grátis de uma página</h2>
                        <h3>Crie um site e veja como ele aparece no seu celular ou tablet. Sem necessidade e cartão de crédito.</h3>
                    </div>
                </div>
                <div class="column span-three-middle">
                    <div class="line-block pad-top">
                        <h2>Suporte Grátis</h2>
                        <h3>Tem alguma dúvida? Nosso time de experts in-house tem todas as respostas.</h3>
                    </div>
                </div>
                <div class="column span-three-right">
                    <div class="line-block pad-top">
                        <h2>Use qualquer nome de domínio</h2>
                        <h3>Escolha um dos nossos planos de pagamento e use no seu site o domínio com o nome que quiser.</h3>
                    <div>
                </div>
            </div>
        </div>
        <!-- SIGNUP BAR !-->
        <div class="signup-bar">
            <a href="/pricing" class="btn pink lrg">Experimente o Sitejam agora</a>
            <span>Não é necessário cartão de crédito.</span>
        </div>
    </div>
</section>

<!-- DESIGNS / DEVICES !-->
<section class="designs-devices">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- DESIGNS !-->
            <section class="grey designs">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Todos os sites ficam ótimos</h2>
                    <h3 class="wht-shad">Os nossos designers proficionais te dão a certeza que qualquer site será algo para se orgulhar. Novos designs são lançados a cada 2 semana e estão inclusos no  nosso pacote Negócios.</h3>
                    <div class="template-slider">
                        <div class="controls">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="slides">
                            <div class="slide one"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- DEVICES !-->
            <section class="devices">
                <div class="wrapper sml">
                    <h2 class="pink">Inclui sites para celular e tablet</h2>
                    <h3 class="white">Acreditámos que todo mundo merce um site que se adpata também para celulares e tablets. Troque o modo de exibição entre full screen, celular ou tablet sem perder tempo.</h3>
                </div>
                <div class="tabs-2">
                    <div class="slide">
                        <input type="radio" id="tab-1" name="tab-group-1" checked>
                        <label for="tab-1">Celular</label>
                        <div class="tab-content sml">
                            <div class="iphone">
                                <h4>Veja em ambas as formas</h4>
                                <p>Gire o seu dispositivo 90 graus e veja como o seu conteúdo se adapta rápidamente.</p>
                                <img src="{{asset('images/mobile-img.png')}}">
                            </div>
                       </div> 
                    </div>
                    <div class="slide">
                       <input type="radio" id="tab-2" name="tab-group-1">
                       <label for="tab-2">Tablet</label>
                       <div class="tab-content sml">
                            <div class="ipad clearfix">
                                <hgroup>
                                    <h4>Visualização no tablet</h4>
                                    <p class="desktop">Tablets são os dispositivos móveis que mais crescem para navegação na internet, então é importante checar como o seu site está neste dispositivo.</p>
                                    <p class="tablet">Tablets são os dispositivos móveis que mais crescem para navegação na internet.</p>
                                </hgroup>
                                <img src="{{asset('images/ipad.png')}}">
                            </div>
                       </div> 
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- WIDGETS - WEBSITE !-->
<section class="widgets-website">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- WIDGETS !-->
            <section class="widgets clearfix">
                <div class="wrapper sml">
                    <h2>Twitter, Facebook e mais</h2>
                    <h3>Twitter e Facebook são ótimas maneiras de engajar novos visitantes para o seu site. Você também pode adicionar mapas, formulários e muitos outros items na sua página.</h3>

                    <!-- WIDGET BLOCKS !-->
                    <ul class="widget-blocks clearfix">
                        <!-- PINK ROW !-->
                        <li class="pink maps">
                            <span>Google Maps</span>
                        </li>
                        <li class="pink gallery">
                            <span>Galeria de imagens</span>
                        </li>
                        <li class="pink form last">
                            <span>Formulário de contato</span>
                        </li>

                        <!-- NAVY ROW !-->
                        <li class="navy slideshow">
                            <span>Slideshow</span>
                        </li>
                        <li class="navy columns">
                            <span>Colunas</span>
                        </li>
                        <li class="navy nav last">
                            <span>Navegação</span>
                        </li>

                        <!-- BLUE ROW !-->
                        <li class="blue facebook">
                            <span>Facebook</span>
                        </li>
                        <li class="blue twitter">
                            <span>Twitter</span>
                        </li>
                        <li class="blue last">
                            <div class="view-all">
                                <!-- <a href="#">View All</a> -->
                                <a>e mais</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- WEBSITE !-->
            <section class="website grey">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Feito para pessoas ocupadas</h2>
                    <h3 class="wht-shad">Sitejam não vai te atrapalhar com coisas técnicas que não te interessam. Apenas escolha o seu design, adicione o conteúdo e você já esta pronto para por o seu site no ar.</h3>
                    <a class="popup-youtube video-block" href="http://www.youtube.com/watch?v=wFEhqtHT-78">
                        <img src="{{asset('/images/video.png')}}"> 
                        <div>
                            <p class="text-link">Assista ao nosso tour</p>
                        </div>
                    </a>
                    <div class="divider"></div>
                    <ul>
                        <li>
                            <h4>Um site que acompanha o seu crescimento</h4>
                            <p>Comece com um pequeno site que pode crescer quando for melhor pra você. Adicione mais páginas, drop-down menus e mais conteúdo a qualquer tempo.</p>
                        </li>
                        <li>
                            <h4>Fácil de publicar</h4>
                            <p>Publicar o seu site so leva dois cliques. Não há medidas adicionais para deixar o seu site pronto para celulares e tablets.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- SIGNUP BAR !-->
<div class="signup-bar pad">
    <div class="wrapper">
        <a href="/pricing" class="btn pink lrg">Experimente o Sitejam Grátis</a>
        <span>Não é necessário cartão de crédito.</span>
    </div>
</div>

<!-- QUICK SIGNUP !-->
<!-- <section class="quick-signup grey">
    <div class="wrapper">
        <form>
            <fieldset>
                <div class="inputset">
                    <label for="name">Full Name</label>
                    <input type="text" placeholder="Enter your full name">
                </div>
                <div class="inputset">
                    <label for="email">Email</label>
                    <input type="text" placeholder="Enter your email address">
                </div>
                <div class="inputset">
                    <label for="password">Password</label>
                    <input type="text" placeholder="Enter a password">
                </div>
                <input type="submit" class="form-submit">
            </fieldset>
        </form>
    </div>
</section> -->

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

<!-- CONTENT END !-->
</div>

{% endblock %}
