{% extends "layout.twig" %}

{% block content %}

<div class="content">

<!-- HEADER !-->
<header class="google clearfix">
    <div class="wrapper">
        <div class="left">
            <h1><a href="/" title="Create a website"><img src="{{asset('/images/logo.png')}}"></a></h1>
            <div class="powered-by">
                <p><span class="mobHide">Impulsado por tecnología de</span></p>
                <a href="http://www.basekit.com"><img src="{{asset('/images/bk-logo.png')}}" class="logo-gry"></a>
            </div>
        </div>
        <div class="right clearfix">
            <ul class="user-btns">
                <li><a href="/precios" class="btn pink signup">Registrarse</a></li>
                <li><a href="/entrar" class="btn navy login">Entrar</a></li>
            </ul>
        </div>
    </div>
</header>

<!-- GOOGLE COUPON !-->
<section class="google-coupon">

    <div class="toggler" id="toggler-slideOne">
        <span class="expandSlider">
        <div class="wrapper">
            <p class="hide-show-intro"><span class="pink">Pulsa aquí</span> por un <em>tiempo limitado</em> compra tu plan y obtén <span class="mobHide">un <span class="pink">50%</span> de descuento</p><span class="exit"></span></span>
            <span class="collapseSlider"></span>
        </div>
    </div>
    <div class="slider" id="slideOne">
        <div class="wrapper">
            <h2>Usa el código ‘<span class="pink">GOOGLE50</span>’ para un descuento del 50%</h2>
            <p>Solo por un <em>tiempo limitado</em> compra el plan ‘<span class="pink">Básico</span>’ o<br> ‘<span class="pink">Business</span>’ y obtén un 50% de descuento por 6 meses<br> simplemente introduciendo el código '<span class="pink lrg">GOOGLE50</span>' antes de procesar el pago'.</p>
        </div>
        <div class="proud">
            <div class="wrapper">
                Orgullosos de colaborar con <span class="white">Google</span> como <span class="white">proveedor de un sistema multi-dispositivos</span>
            </div>
        </div>
    </div>

</section>

<section class="feature">
    <div class="wrapper">
        <h2>Editor web fácil y potente</h2>
        <h3>Crea una página web que se adapta a pantallas grandes, teléfonos y tabletas.</h3>
        <div class="tabs">
            <input type="radio" name="tabs" checked id="tab1" class="content1">
                <label for="tab1" style='border-left: 0'>
                    <span>
                        <span>Arrastra y suelta</span>
                    </span>
                </label>
            <input type="radio" name="tabs" id="tab2" class="content2">
                <label for="tab2">
                    <span>
                        <span>Dominios</span>
                    </span>
                </label>
            <input type="radio" name="tabs" id="tab3" class="content3">
                <label for="tab3">
                    <span>
                        <span>Plantillas</span>
                    </span>
                </label>
             <ul class="browser">
                <div class="controls"><span></span><span></span><span></span></div>
                <li class="content1">
                    <div>
                        <img class="magnify" src="{{asset('images/feature-magnify-1.png')}}">
                        <div class="call-out">
                            <h4>Arrastra y suelta</h4>
                            <p>Añade texto, imágenes, videos y todo tipo de contenido de redes sociales. Podrás ver al instante cómo se vé tu web en teléfono o tabletas.</p>
                        </div>    
                    </div>
                </li>
                <li class="content2">
                    <div>
                        <img class="magnify" src="{{asset('images/feature-magnify-1.png')}}">
                        <div class="call-out">
                            <h4>Dominios</h4>
                            <p>Tu sitio podrá ser visto con cualquier dominio que poseas. También puedes comprar un dominio con nosotros o elige un plan Business y obtén el dominio gratuitamente.</p>
                        </div> 
                    </div>
                 </li>
                <li class="content3">
                    <div>
                        <img class="magnify" src="{{asset('images/feature-magnify-1.png')}}">
                        <div class="call-out">
                            <h4>Plantillas</h4>
                            <p>Solo los diseños nuevos y modernos son lo suficientemente buenos para la página de plantillas. Nuestros diseñadores profesionales añaden plantillas nuevas cada 2 semanas. Cambia tu plantilla cuando lo desees para darle a tu sitio un aspecto nuevo.</p>
                        </div> 
                    </div>
                </li>                 
             </ul>
        </div>
    </div>
</section>

<!-- INTRO !-->
<section class="intro">
    <div class="wrapper">
        <div class="intro-blocks">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    <div class="line-block pad-top">
                        <h2>Publica tu web gratis</h2>
                        <h3>Crea tu sitio y mira cómo se ve en tu teléfono y tableta. No se necesita tarjeta de crédito.</h3>
                    </div>
                </div>
                <div class="column span-three-middle">
                    <div class="line-block pad-top">
                        <h2>Soporte gratuito</h2>
                        <h3>¿Tienes alguna duda? Nuestro equipo de expertos tienen todas las respuestas</h3>
                    </div>
                </div>
                <div class="column span-three-right">
                    <div class="line-block pad-top">
                        <h2>Usa cualquier dominio que ya tengas</h2>
                        <h3>Escoge uno de nuestros planes de pago y añade el dominio que más te guste.</h3>
                    <div>
                </div>
            </div>
        </div>
        <!-- SIGNUP BAR !-->
        <div class="signup-bar">
            <a href="/precios" class="btn pink lrg">Prueba Siejam ahora</a>
            <span>No se necesita tarjeta de crédito</span>
        </div>
    </div>
</section>

<!-- DESIGNS / DEVICES !-->
<section class="designs-devices">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- DESIGNS !-->
            <section class="grey designs">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Increibles diseños</h2>
                    <h3 class="wht-shad">Nuestro equipo profesional de diseñadores se asegura de que cada web sea única. Publicamos nuevos diseños cada 2 semanas, que son incluidos de forma gratuita con nuestro plan business.</h3>
                    <div class="template-slider">
                        <div class="controls">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="slides">
                            <div class="slide one"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- DEVICES !-->
            <section class="devices">
                <div class="wrapper sml">
                    <h2 class="pink">Sitio web para móvil y tableta incluido.</h2>
                    <h3 class="white">Tu negocio se merece un sitio web que se adapte tanto a dispositivos móviles como tabletas. Cambia de pantalla completa a móviles y tabletas sin perder información.</h3>
                </div>
                <div class="tabs-2">
                    <div class="slide">
                        <input type="radio" id="tab-1" name="tab-group-1" checked>
                        <label for="tab-1">Móvil</label>
                        <div class="tab-content sml">
                            <div class="iphone">
                                <h4>Visualización en ambas formas</h4>
                                <p>Gira tu dispositivo 90 grados y mira cómo tu contenido se adapta de forma instantánea.</p>
                                <img src="{{asset('images/mobile-img.png')}}">
                            </div>
                       </div> 
                    </div>
                    <div class="slide">
                       <input type="radio" id="tab-2" name="tab-group-1">
                       <label for="tab-2">Tablet</label>
                       <div class="tab-content sml">
                            <div class="ipad clearfix">
                                <hgroup>
                                    <h4>Vista en tableta</h4>
                                    <p class="desktop">La tableta es el dispositivo en más rápido crecimiento para navegar por la web, así que es importante verificar que tu sitio se vea bien.</p>
                                    <p class="tablet">La tableta es el dispositivo en más rápido crecimiento para navegar por la web.</p>
                                </hgroup>
                                <img src="{{asset('images/ipad.png')}}">
                            </div>
                       </div> 
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- WIDGETS - WEBSITE !-->
<section class="widgets-website">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- WIDGETS !-->
            <section class="widgets clearfix">
                <div class="wrapper sml">
                    <h2>Twitter, Facebook y mucho más.</h2>
                    <h3>Las entradas de Twitter y Facebook son una manera fantástica de atraer visitante a tu web. También puedes añadir mapas, formularios y mucho más a cualquiera de tus páginas.</h3>

                    <!-- WIDGET BLOCKS !-->
                    <ul class="widget-blocks clearfix">
                        <!-- PINK ROW !-->
                        <li class="pink maps">
                            <span>Mapas de Google</span>
                        </li>
                        <li class="pink gallery">
                            <span>Galería de imágenes</span>
                        </li>
                        <li class="pink form last">
                            <span>Formulario de contacto</span>
                        </li>

                        <!-- NAVY ROW !-->
                        <li class="navy slideshow">
                            <span>Slideshow</span>
                        </li>
                        <li class="navy columns">
                            <span>Columnas</span>
                        </li>
                        <li class="navy nav last">
                            <span>Navegación</span>
                        </li>

                        <!-- BLUE ROW !-->
                        <li class="blue facebook">
                            <span>Facebook</span>
                        </li>
                        <li class="blue twitter">
                            <span>Twitter</span>
                        </li>
                        <li class="blue last">
                            <div class="view-all">
                                <!-- <a href="#">View All</a> -->
                                <a>y más</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- WEBSITE !-->
            <section class="website grey">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Hecho para gente ocupada.</h2>
                    <h3 class="wht-shad">Con SiteJam no necesitas tener conocimientos técnicos. Únicamente tienes que elegir un diseño, añadir tu contenido y tu web está lista para publicar.</h3>
                    <a class="popup-youtube video-block" href="http://www.youtube.com/watch?v=wFEhqtHT-78">
                        <img src="{{asset('/images/video.png')}}"> 
                        <div>
                            <p class="text-link">Mira nuestro video tour.</p>
                        </div>
                    </a>
                    <div class="divider"></div>
                    <ul>
                        <li>
                            <h4>Una web que crece contigo.</h4>
                            <p>Empieza con un sitio pequeño y amplíalo cuando lo necesites. Añade páginas, menús desplegables y contenido adicional cuando quieras.</p>
                        </li>
                        <li>
                            <h4>Fácil de publicar</h4>
                            <p>Publicar tu sitio web sólo lleva 2 clicks. No necesitarás hacer nada más para que tu web esté lista para cualquier dispositivo móvil o tabletas.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- SIGNUP BAR !-->
<div class="signup-bar pad">
    <div class="wrapper">
        <a href="/precios" class="btn pink lrg">Prueba Siejam gratis</a>
        <span>No necesitas tarjeta de crédito.</span>
    </div>
</div>

<!-- QUICK SIGNUP !-->
<!-- <section class="quick-signup grey">
    <div class="wrapper">
        <form>
            <fieldset>
                <div class="inputset">
                    <label for="name">Full Name</label>
                    <input type="text" placeholder="Enter your full name">
                </div>
                <div class="inputset">
                    <label for="email">Email</label>
                    <input type="text" placeholder="Enter your email address">
                </div>
                <div class="inputset">
                    <label for="password">Password</label>
                    <input type="text" placeholder="Enter a password">
                </div>
                <input type="submit" class="form-submit">
            </fieldset>
        </form>
    </div>
</section> -->

<!-- FOOTER !-->
{% include '/includes/footer.twig' %}

<!-- CONTENT END !-->
</div>

{% endblock %}
