{% extends "layout.twig" %}

{% block content %}

<header>
    <div class="wrapper clearfix">
        <div class="companyheader clearfix">
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </div>
</header>

<img src="{{asset('/images/feature.jpg')}}" class="devices">

<div class="wrapper clearfix">

    <div class="responsivecolumns columns-two-25-75">

        <div class="column columns-two-left">
        

        </div>
        <div class="column columns-two-right">
                {{widget('content', 'footercolumn2content1', {"content":"<h2>Beautiful websites for small businesses</h2>"})|raw}}

                {{widget('content', 'footercolumn2content2', {"content":"<h3>Every site stays beautiful on phones and tablets</h3>"})|raw}}

                {{widget('content', 'footercolumn2content4', {"content":'<a href="https://basekit.zendesk.com/home" target="_blank">Need Help? Contact our support team here</a>'})|raw}}

                {{widget('userregistration', 'userregistration', {'align': 'right'})|raw}}

            {{zone('main')|raw}}


            
        </div>
    </div>
</div>

div id="page-overlay" class="overlay"><div class="inner"><div class="message">Creating your account, Please wait...</div></div></div>

</div>


{% endblock %}
